body {
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}

:root {
}

/* header */
header {
    height: 1.5em;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
}
header h1 {
    font-size: 0.8em;
    margin: 0;
    color: white;
}
header img {
    width: auto;
    height: 90%;
}

/* main */
main {
    width: 100%;
    height: 100%;
    position: relative;
}

/* div to make the section snap  */
main > div {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}
main div > section {
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

/* My visited country cards section */
main div > section:nth-child(1) {
    display: flex;
    flex-direction: column;
}
main div > section:nth-child(1) h2 {
    padding-left: 2em;
    margin: 0;
    margin-top: 1em;
}
main div > section:nth-child(1) ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    transform: translate(0% -50%);
    gap: 3vw;
}
main div > section:nth-child(1) ul li {
    width: 40vw;
    height: 40vh;
    position: relative;
    border-radius: 10px;
}
main div > section:nth-child(1) ul li h2 {
    width: 100%;
    padding: 0;
    text-align: center;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(78, 78, 78, 0) 100%
    );
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
main div > section:nth-child(1) ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

/* Where I want to fo section */
main div > section:nth-child(2) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 5em 10em 1fr;
}
main div > section:nth-child(2) h2 {
    margin: 1.2rem 1.5rem 0rem 1.5rem;
    font-size: 1.8em;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
main div > section:nth-child(2) p:nth-child(2) {
    margin: 1.2rem 1.5rem 0rem 1.5rem;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    max-width: 38em;
    min-width: 20em;
}
main div > section:nth-child(2) img:nth-child(4) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: 100%;
    height: 125%;
    transform: translate(0, -20%);
    object-fit: cover;
    object-position: 50% 0%;

    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 30%,
        rgb(0, 0, 0, 1) 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 30%,
        rgb(0, 0, 0, 1) 100%
    );
}
main div > section:nth-child(2) img:nth-child(5) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    max-width: 30em;
    border-radius: 0 100% 0 0;
}
