body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

:root {
}

/* header */
header {
    height: 1.5em;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
}
header h1 {
    font-size: 0.8em;
    margin: 0;
    color: white;
}
header img {
    width: auto;
    height: 90%;
}

/* main */
main {
    width: 100%;
    height: 100%;
    position: relative;
}

/* div to make the section snap  */
main > div {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}
main > div > section {
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

/* My visited country cards section */
main > div > section:nth-child(1) {
    display: flex;
    flex-direction: column;
}
main > div > section:nth-child(1) section {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 38em;
}
main > div > section:nth-child(1) section > h2,
main > div > section:nth-child(1) section > p {
    padding-left: 2.5rem;
    margin: 0;
    max-width: 80vw;
    margin-top: 1em;
    min-width: 20em;
}

main > div > section:nth-child(1) > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto; */
    margin-top: 5vh;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3vw;
}
main > div > section:nth-child(1) > ul > li {
    width: 40vw;
    height: 35vh;
    position: relative;
    border-radius: 10px;
    transition: 200ms;
    max-width: 20em;
}
main > div > section:nth-child(1) > ul > li:hover {
    scale: 1.025;
}
main > div > section:nth-child(1) > ul > li:active {
    scale: 1;
}
main > div > section:nth-child(1) > ul > li h2 {
    width: 100%;
    padding: 0;
    text-align: center;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(78, 78, 78, 0) 100%
    );
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
main > div > section:nth-child(1) > ul > li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

main > div > section:nth-child(1) > ul > li div.flip-card-back section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
main > div > section:nth-child(1) > ul > li div.flip-card-back section img {
    width: 20px;
    height: 20px;
}

/* Where I want to go section */
main > div > section:nth-child(2) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 5em 10em 1fr;
}
main > div > section:nth-child(2) h2 {
    margin: 1.2rem 1.5rem 0rem 1.5rem;
    font-size: 1.8em;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
main > div > section:nth-child(2) p:nth-child(2) {
    margin: 1.2rem 1.5rem 0rem 1.5rem;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    max-width: 38em;
    min-width: 20em;
}
main > div > section:nth-child(2) img:nth-child(4) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: 100%;
    height: 125%;
    transform: translate(0, -20%);
    object-fit: cover;
    object-position: 50% 0%;
    transition: 2000ms;
    mask-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgb(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(252, 252, 252, 1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
main > div > section:nth-child(2) img:nth-child(4).inViewPort {
    object-position: 50% 5vh;
}
main > div > section:nth-child(2) img:nth-child(5) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    max-width: 30em;
    border-radius: 0 100% 0 0;
}
main > div > section:nth-child(2) img:nth-child(6) {
    position: absolute;
    bottom: 3em;
    right: 1em;
    width: 10em;
    height: auto;
    transition: 5000ms;
    transition-timing-function: linear;
}
main > div > section:nth-child(2) img:nth-child(6):hover {
    rotate: 360deg;
}

@media (min-width: 75em) {
    main > div > section:nth-child(1) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    main > div > section:nth-child(1) section {
        display: flex;
        flex-direction: column;
        height: 30vh;
        font-size: 1.1em;
        max-width: 23em;
    }
    main > div > section:nth-child(1) section h2 {
        font-size: 2em;
    }
    main > div > section:nth-child(1) ul {
        margin-top: auto;
        gap: 1.5vw;
    }
    main > div > section:nth-child(1) ul li {
        height: 40vh;
    }
}
@media (min-width: 90em) {
    main > div > section:nth-child(1) section {
        max-width: 30em;
    }
}
